body{
  div{
    border: 1px solid;

    .banner{
      display: grid;
      grid-gap: 15px;
      padding: 15px;
      grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
      .flycard {
        display: block;
        margin-bottom: -25px;
        color: #333;
        text-decoration: none;
        
        h2{
          font-size:10px
      
        }
      }
      .containercard{
        display: grid;
      grid-gap: 15px;
      padding: 15px;
      grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
      }
    }

    
    
  }


}